<div class="p-4">
  <h2 class="text-center">Inscrição</h2>
  <form action="" class="d-flex flex-column gap-2">
    <div class="d-flex w-100">
      <div class="mr-1">
        <label for="name" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
    </div>
    <div class="d-flex w-100">
      <div class="mr-1">
        <label for="estado" class="form-label">Estado:</label>
        <input type="text" class="form-control" id="estado" name="estado" required>
      </div>
      <div class="">
        <label for="cidade" class="form-label">Cidade:</label>
        <input type="text" class="form-control" id="cidade" name="cidade" required>
      </div>
    </div>
  </form>
</div>
